* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #3E3B39;
    padding: 12px;
    border-bottom: 3px solid red;
}

#nav label#title {
    font-family: 'Gochi Hand', cursive;
    color: white;
    font-size: 37px;
    padding-left: 20px;
}

#nav li {
    list-style: none;
}

#nav li a {
    color: black;
    text-decoration: none;
    font-family: 'Tilt Neon', cursive;
    color: white;
    font-size: 19px;
    padding: 7px 15px;
    border-radius: 4px;
}

#nav li a:hover {
    background-color: #E3242B;
    transition: .5s;
}

.active {
    background-color: #E3242B;
}

.navbar-links {
    width: 30%;
    align-self: center;
    padding-right: 20px;
}

.navbar-links ul {
    display: flex;
    justify-content: space-evenly;
}

/* Hamburger Menu */
.toggle-button{
    position: absolute;
    top: .9rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


#main {
    background-color: #f7f7f7;
}

#main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

#main-box-description {
    width: 48%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

#main-box-description h1 {
    margin: 0 0 24px 0;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
}

#main-box-description p {
    font-family: 'Tsukimi Rounded', sans-serif;
    margin: 0 0 24px 0;
    font-size: 18px;
}

#main-box-image img {
    /* background-color: #3E3B39; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    height: 400px;
}

.subject {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.each-subject {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
    width: 490px;
}

.each-subject p {
    padding-right: 10px;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.each-subject p{
    color: black;
}

.subject-a a{
    text-decoration: none;
}

.each-subject img {
    height: 100px;
    border-left: 2px solid grey;
    padding-left: 4px;
}

#footer {
    background-color: rgb(230, 230, 230);
    border-top: 2px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    line-height: 30px;
}

#footer a {
    color: black;
    font-family: 'Tilt Neon', cursive;
}

#footer p {
    font-family: 'Tsukimi Rounded', sans-serif;
    padding-left: 200px;
}

#footer img {
    height: 17px;
}

#foot-links{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1200px) and (min-width: 701px){

    #nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links{
        margin: 8px;
        border-radius: 12px;
        display: none;
        width: 100%;
        padding: 6px 0;
    }

    .navbar-links li{
        margin: 12px 0;
        text-align: center;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    #nav label#title {
        font-size: 24px;
        padding-left: 4px;
    }    

    .navbar-links.active {
        display: flex;
        background-color: #3E3B39;
    }

    .toggle-button {
        display: flex;
    }

    #main-box{
        flex-direction: column-reverse;
        width: 100%;
    }

    #main-box-description{
        /* margin: 10px 0; */
        width: 95%;
        height: 200px;
    }

    #main-box-image img{
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 100px;
    }
    
    #main-box-description h1 {
        margin: 0 0 12px 0;
    }
    
    #main-box-description p {
        margin: 0 0 12px 0;
    }

    .subject{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subject-a{
        margin: 12px;
    }

    .each-subject{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid black;
        border-radius: 12px;
        padding: 0px;
    }
    
    .each-subject p {
        padding-right: 0px;
        font-size: 22px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: black;
    }
    
    .each-subject img {
        height: 65px;
        border-left: 2px solid grey;
        padding-left: 4px;
    }
    
    #footer{
        flex-direction: column;
        text-align: center;
    }

    #footer p {
        font-family: 'Tsukimi Rounded', sans-serif;
        padding-left: 10px;
    }  


} 

@media only screen and (max-width: 700px) {

    #nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links{
        margin: 8px;
        border-radius: 12px;
        display: none;
        width: 100%;
        padding: 6px 0;
    }

    .navbar-links li{
        margin: 12px 0;
        text-align: center;
    }

    .navbar-links li a:hover {
        background-color: #E3242B;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    #nav label#title {
        font-size: 24px;
        padding-left: 4px;
    }    

    .navbar-links.active {
        display: flex;
        background-color: #3E3B39;
    }

    .toggle-button {
        display: flex;
    }

    #main-box{
        flex-direction: column-reverse;
        width: 100%;
    }

    #main-box-description{
        margin: 10px 0;
        width: 95%;
        height: 250px;
    }

    #main-box-image img{
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 100px;
    }
    
    #main-box-description h1 {
        margin: 0 0 12px 0;
    }
    
    #main-box-description p {
        margin: 0 0 12px 0;
    }

    .subject{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 0px;
    }

    .each-subject{
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid black;
        border-radius: 12px;
        padding: 0px;
    }
    
    .each-subject p {
        padding-right: 0px;
        font-size: 24px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        color: black;
    }
    
    .each-subject img {
        height: 70px;
        border-left: 2px solid grey;
        padding-left: 6px;
    }
    
    #footer{
        flex-direction: column;
        text-align: center;
    }

    #footer p {
        font-family: 'Tsukimi Rounded', sans-serif;
        padding-left: 10px;
    }  

}

@media only screen and (max-width: 380px){
    .each-subject img{
        height: 54px;
    }
}
@media only screen and (max-width: 380px){
    .each-subject img{
        height: 46px;
    }
}
